/*------------------------------------*\
    BASE.CSS
\*------------------------------------*/

/**
 * HTML
 */

html{
    text-align: #{$dir-default};
    color: $base-color;
}
.tapestry-content {
	background: #ecf0f3;
}
/**
 * Clearfix
 */

.clearfix{
    @include clearfix;
}
