/**
 * Import
 */
/*------------------------------------*\
    $DEBUG
\*------------------------------------*/
/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
/*------------------------------------*\
    $OBJECTS AND ABSTRACTIONS FROM INUIT CSS
\*------------------------------------*/
/**
 * Which objects and abstractions would you like to use?
 */
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/*------------------------------------*\
    $UI ELEMENTS
\*------------------------------------*/
/*------------------------------------*\
    $TEXT DIRECTION
\*------------------------------------*/
/*------------------------------------*\
    $COLOR SWATCHES
\*------------------------------------*/
/*------------------------------------*\
    $GRID SETTINGS
\*------------------------------------*/
/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
/**
     * Mobile Sizes
     */
/**
     * Desktop font size
     * Both tablets and desktops
     */
/**
 * Optional font sizes
 */
/*------------------------------------*\
    $LINKS
\*------------------------------------*/
/*------------------------------------*\
    $FORMS
\*------------------------------------*/
/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/**
     * Button default
     */
/**
     * Button Primary
     */
/**
     * Button Secondary
     */
/**
     * Button Light
     */
/**
     * Button Dark
     */
/**
     * Button Warning
     */
/**
     * Button facebook
     */
/**
     * Button google
     */
/*------------------------------------*\
	MIXINS
\*------------------------------------*/
/**
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 */
/**
 * Font size mixin
 */
/**
 * Media Query Mixin
 */
/**
 * Box Shadow Base
 */
/**
 * Light Links
 */
/**
 * Link Colors: Part of Compass
 */
/**
 * Focus Styles
 */
.tapestry-header .text-input:focus, .tapestry-header textarea:focus {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(81, 167, 232, 0.5);
  border-color: #51A7E8; }

/**
 * Rem Units
 * Converts properties to both REM and Pixel Values. Based on line-height
 * @include rem(margin-bottom, 0.5)
 * @include rem(padding, 1, 20px);
 */
/**
 * Helper function for REM
 * @include rem-full(padding, 10px 20px 10px 30px);
 */
/**
 * Grids
 */
/**
 * Calculates Percentage for each column
 */
/**
 * Convert numbers to words
 * 1 => 'one'
 */
/*
Variables
 */
body {
  margin: 0; }

html[ng-app] {
  background: #fff; }

/**
 * Box sizing
 */
* {
  box-sizing: border-box; }

/**
 * Header
 */
.tapestry-header {
  background: #1F253D;
  color: #fff;
  text-align: center;
  padding: 1em;
  *zoom: 1;
  position: relative;
  min-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: all 0.2s cubic-bezier(0, 0, 0.25, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.25, 1);
  /* Form */
  /* Text input */
  /* Links */
  /* Icon */
  /* Toggle button */ }
  .tapestry-header:before, .tapestry-header:after {
    content: " ";
    display: table; }
  .tapestry-header:after {
    clear: both; }
  .tapestry-header .text-input, .tapestry-header textarea {
    border: 1px #BFBFBF solid;
    padding: 0.6em 1em;
    background: #FAFAFA;
    transition: all 0.1s ease-in;
    vertical-align: middle;
    outline: none;
    width: 100%;
    border-radius: 2px;
    font-size: 14px;
    font-size: 1rem;
    background: transparent;
    border-color: #fff;
    color: #fff; }
  .tapestry-header .form-control {
    position: relative;
    margin-bottom: 18px;
    margin-bottom: 1.28571rem;
    /* Icon on the left side */
    /* Button unstyled */ }
    .tapestry-header .form-control .text-input {
      padding-right: 35px;
      margin-bottom: 0; }
    .tapestry-header .form-control .fa {
      position: absolute;
      right: 10px;
      top: 50%;
      margin: 0;
      margin-top: -8px;
      height: 15px;
      color: #BFBFBF; }
    .tapestry-header .form-control.icon-left .text-input {
      padding-left: 35px;
      padding-right: inherit; }
    .tapestry-header .form-control.icon-left .fa {
      left: 10px;
      right: auto; }
    .tapestry-header .form-control .btn--unstyled {
      padding: 0;
      margin: 0;
      vertical-align: top;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%; }
  .tapestry-header .form-control {
    position: absolute;
    right: 1em;
    top: 15px;
    margin: 0;
    width: 230px;
    display: none; }
    @media only screen and (min-width: 600px) {
      .tapestry-header .form-control {
        display: block; } }
    @media only screen and (min-width: 600px) and (max-width: 960px) { }
  .menu__opened .tapestry-header {
    -webkit-transform: translate3d(250px, 0, 0);
    -moz-transform: translate3d(250px, 0, 0);
    -ms-transform: translate3d(250px, 0, 0);
    -o-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0); }
  .tapestry-header a {
    color: #fff; }
    .tapestry-header a:hover {
      color: #fff; }
    .tapestry-header a:active {
      color: #fff; }
  .tapestry-header a {
    text-decoration: none; }
  .tapestry-header .fa {
    color: #fff; }
  .tapestry-header .btn--toggle {
    position: absolute;
    padding: 0;
    left: 0px;
    top: 0px;
    background: none;
    border: none;
    padding-left: 20px;
    font-size: 30px;
    display: block;
    /* menu opened */ }
    .tapestry-header .btn--toggle .fa {
      vertical-align: top;
      line-height: 70px; }
    .menu__opened .tapestry-header .btn--toggle .fa:before {
      content: "\f00d"; }

/*------------------------------------*\
        AUTOCOMPLETE.CSS
    \*------------------------------------*/
.autocomplete-suggestions {
  border: 1px solid #BFBFBF;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  overflow: auto;
  font-family: 'Open Sans', Helvetica, Arial; }

.autocomplete-suggestion {
  padding: 0.3em 1em;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 1px #BFBFBF solid; }
  .autocomplete-suggestion:last-child {
    border-bottom: none; }

.autocomplete-selected {
  background: #EDEEF1; }

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #1ABC9C;
  font-weight: 600; }

/**
     * Description
     */
.ac__desc {
  display: block;
  font-size: 12px;
  padding: 5px 0;
  text-transform: capitalize; }

/**
 * Sidemenu
 */
.tapestry-menu-side {
  line-height: 1.4;
  display: none;
  font-family: 'Open Sans', Helvetica, Arial; }
  .tapestry-menu-side ul {
    list-style: none;
    margin: 0 0 20px 10px;
    padding: 0;
    word-wrap: break-word; }
    @media only screen and (min-width: 1400px) {
      .tapestry-menu-side ul {
        position: fixed;
        max-width: 180px; } }
  .tapestry-menu-side li {
    display: inline-block;
    width: 33%;
    margin: 0;
    vertical-align: top;
    position: relative; }
  .tapestry-menu-side a {
    color: #8c8c8c;
    text-decoration: none;
    padding: 5px 0;
    display: block; }
  .tapestry-menu-side a:hover {
    color: #444; }
  .tapestry-menu-side .active, .tapestry-menu-side .active:hover, .tapestry-menu-side .active > a {
    color: #1ABC9C; }
  @media only screen and (min-width: 600px) {
    .tapestry-menu-side {
      display: block;
      position: relative; } }
  @media only screen and (min-width: 1400px) {
    .tapestry-menu-side {
      position: absolute;
      left: -200px;
      top: 5px;
      width: 200px; }
      .tapestry-menu-side li {
        display: block;
        width: auto; } }

/**
 * when menu opens
 */
@media only screen and (min-width: 1400px) {
  .menu__opened .tapestry-menu-side ul {
    position: absolute; } }

/**
 * Menu
 */
.tapestry-menu {
  font-family: 'Open Sans', Helvetica, Arial;
  background: #EDEEF1;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  z-index: 1;
  padding: 20px 20px;
  font-size: 16px;
  font-size: 1.14286rem;
  -webkit-transform: translate3d(-250px, 0, 0);
  -moz-transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  -o-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: all 0.2s cubic-bezier(0, 0, 0.25, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.25, 1);
  font-size: 16px;
  line-height: 1.6;
  /* heading */
  /* UL */ }
  .menu__opened .tapestry-menu {
    display: block;
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    box-shadow: 0px 0 6px 1px rgba(0, 0, 0, 0.1); }
  .tapestry-menu .menu__header {
    font-size: 16px;
    font-size: 1.14286rem;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600; }
  .tapestry-menu ul {
    list-style: none;
    margin: 0 -20px 20px -20px;
    padding: 0;
    padding-bottom: 15px;
    border-bottom: 1px #BFBFBF solid; }
  .tapestry-menu li {
    margin: 0; }
  .tapestry-menu a {
    display: block;
    color: #1ABC9C;
    padding: 3px 20px;
    text-decoration: none; }
  .tapestry-menu a:hover, .tapestry-menu .active > a {
    background: #d9dcde;
    background: #1ABC9C;
    color: #fff; }

/* Heading */
.tapestry__heading {
  margin: 8px 0 0 0;
  font-family: 'Open Sans', Helvetica, Arial;
  color: #fff; }
  @media only screen and (min-width: 600px) {
    .tapestry__heading {
      margin-top: 5px; } }

/**
 * Static Content
 */
.tapestry-wrapper {
  padding-top: 15px; }
  .tapestry-wrapper .container {
    position: relative; }
  @media only screen and (min-width: 960px) {
    .tapestry-wrapper > .container {
      width: 1030px;
      margin: 0 auto; } }
  @media only screen and (min-width: 600px) {
    .tapestry-wrapper {
      padding-top: 30px; } }

/* Menu opened */
.menu__opened body {
  overflow-x: hidden; }

/**
 * Tapestry content
 */
.tapestry-content {
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: all 0.2s cubic-bezier(0, 0, 0.25, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.25, 1);
  position: relative;
  padding-top: 70px; }
  .menu__opened .tapestry-content {
    -webkit-transform: translate3d(250px, 0, 0);
    -moz-transform: translate3d(250px, 0, 0);
    -ms-transform: translate3d(250px, 0, 0);
    -o-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0); }

/**
 * Tapestry Hero Module
 */
.ui-module-hero-tapestry {
  color: #fff;
  padding: 30px 0 30px 0;
  background: #1ABC9C;
  text-align: center; }
  @media only screen and (min-width: 960px) {
    .ui-module-hero-tapestry .container {
      width: 800px;
      margin: 0 auto; } }
  .ui-module-hero-tapestry h1, .ui-module-hero-tapestry .text--lead {
    font-family: 'Open Sans', Helvetica, Arial; }
  .ui-module-hero-tapestry .text--lead {
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 30px 0; }
  .ui-module-hero-tapestry hr {
    background: transparent;
    border-top: 1px #fff solid;
    border-bottom-width: 0;
    margin-top: 20px;
    color: transparent; }

/**
 * Dark button
 */
.btn-view, .btn-download {
  line-height: normal;
  padding: 1em 2em;
  border: 1px solid transparent;
  background: #EDEEF1;
  margin-bottom: 12px;
  margin: 0 0.5em;
  font-size: 14px;
  margin-bottom: 0.85714rem;
  border-radius: 2px;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  text-decoration: none;
  font-family: 'Open Sans', Helvetica, Arial;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 0; }

.btn-download:hover, .btn-download:active, .btn-download {
  background: #323A45;
  border-color: #323A45;
  color: #fff; }

.btn-download:hover {
  background: #475363;
  border-color: #475363;
  text-decoration: none; }

.btn-download:active, .btn-download:focus {
  background: #1d2127;
  border-color: #1d2127; }

/**
 * Unstyled button
 */
.btn-unstyled {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer; }

.btn-view, .btn-view:hover {
  background: transparent;
  border: 1px #1F253D solid;
  color: #1F253D;
  text-decoration: none; }

.btn-view:hover {
  opacity: 0.8; }

/**
 * Features
 */
.tapestry-features {
  list-style: none;
  margin: 0 auto;
  padding: 30px 0 0 0;
  font-family: 'Open Sans', Helvetica, Arial;
  font-size: 0; }
  @media only screen and (min-width: 960px) {
    .tapestry-features {
      width: 800px; } }
  .tapestry-features > li {
    font-size: 16px;
    vertical-align: top;
    margin: 0;
    padding: 0 0 10px 0; }
    @media only screen and (min-width: 600px) {
      .tapestry-features > li {
        display: inline-block;
        width: 33%;
        padding-right: 20px; } }
  .tapestry-features h3 {
    font-weight: 600; }

/**
 * Footer
 */
.tapestry__footer {
  text-align: center;
  margin-top: 2em;
  border-top: 1px #d9d9d9 solid;
  padding-top: 20px;
  font-family: 'Open Sans', Helvetica, Arial;
  font-size: 12px; }
  .tapestry__footer p {
    margin-bottom: 15px; }

/**
 * Pattern listing
 */
.pattern-list {
  list-style: none;
  margin-left: 0;
  padding: 0; }
  .pattern-list > li {
    margin-bottom: 24px;
    margin-bottom: 1.71429rem;
    background: #fff;
    border-radius: 5px; }
  .pattern-list > li > h3 {
    padding: 0.5em 15px;
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial;
    border-bottom: 1px #d9d9d9 solid; }
  .pattern-list > li > div > h4 {
    padding: 0.5em 15px;
    margin: 0;
    font-weight: 600;
    background: #fff;
    font-family: 'Open Sans', Helvetica, Arial;
    border-bottom: 1px #d9d9d9 solid; }
  .pattern-list .block--description {
    background: #f9fbfc;
    border-radius: 0 0 5px 5px;
    border-top: 1px #d9d9d9 solid; }

.pattern-variation {
  margin-bottom: 15px; }

.block--preview {
  padding: 15px;
  padding-bottom: 40px; }

.block--example {
  background: #fff;
  border-radius: 5px; }

pre {
  margin: 0 !important;
  background: white !important;
  border-radius: 0 0 5px 5px;
  padding: 1em;
  font-size: 16px;
  white-space: wrap !important;
  border-top: 1px #d9d9d9 solid; }

code {
  white-space: pre-wrap !important; }

/**
     * Code
     */
.example-code {
  position: relative; }

.toggle-code {
  position: absolute;
  right: 10px;
  top: -40px;
  text-decoration: none;
  cursor: pointer;
  color: #888;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.toggle-code.active {
  color: #1ABC9C; }

/**
     * Description
     */
.block--description {
  padding: 20px 15px 10px 15px;
  background: #dfe1e6; }
  .block--description h3 {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600; }

/**
 * Palette
 */
.palette {
  list-style: none;
  margin-left: 0;
  font-size: 0; }
  .palette > li {
    margin-right: 1%;
    font-size: 13px;
    font-size: 0.92857rem;
    color: #fff;
    text-align: center; }
    @media only screen and (min-width: 600px) {
      .palette > li {
        display: inline-block;
        width: 19%; } }
  .palette span {
    display: block; }
  .palette .color {
    border-radius: 5px 5px 0 0;
    height: 80px;
    padding-top: 1.5em; }
    @media only screen and (min-width: 600px) {
      .palette .color {
        height: 120px; } }
  .palette .color:last-child {
    border-radius: 0 0 5px 5px; }
  .palette h3 {
    color: #333;
    font-size: 14px;
    font-weight: 600; }

/**
 * Row demo
 */
.row--demo {
  margin-left: 0 !important;
  margin-right: 0 !important; }
  .row--demo > .columns {
    background: #eee;
    border: 1px #ddd solid; }

/**
 * Template listing
 */
.tapestry-template-list {
  list-style: none;
  margin: 0 0 20px 0; }
  .tapestry-template-list li {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 2%;
    margin-bottom: 2%; }

/**
 * Block meta
 */
.block--meta {
  padding: 15px; }
